<article>
<h1 class="page-header"><%= _("Rules for the Comments") %></h1>
<p class="lead">
  <%= _("Make an initiative for the action of the armies.") %>
</p>
<p class="lead">
  <%= _("Suggest a new task for the Armies not presented here.") %>
</p>
<p class="lead">
  <%= _("Positive initiations will be published.") %>
</p>
<p class="lead">
  <%= _("The Suggested task must benefit the whole world.") %>
</p>
<p class="lead">
  <%= _("Present the task with max. 1000 characters.") %>
</p>
<p class="lead">
  <%= _("Join the discussion with your own comment.") %>
</p>
<p class="lead">
  <%= _("Make the initiative using some UN:s official languages (6).") %>
</p>

<%= render 'form' %>

<div style="height:200px"></div>

