<article>
<h1 class="page-header"><%= _("Rules for the Comments") %></h1>
<p class="lead">
  <%= _("Make an initiative for the action of the armies") %>
</p>
<p class="lead">
  <%= _("Suggest a new task for the Armies not presented here.") %>
</p>
<p class="lead">
  <%= _("Positive initiations will be published.") %>
</p>


<%= render 'form' %>

<%= link_to 'Back', comments_path %>
