<article>
  <h1 class="page-header"><%= _("Rules for the Comments") %></h1>
  <p class="lead">
    <%= _("Make an initiative for the action of the armies.") %>
  </p>
  <p>
    <%= _("Suggest a new task for the Armies not presented here.") %></br>
    <%= _("Positive initiations will be published.") %></br>
    <%= _("The Suggested task must benefit the whole world.") %></br>
    <%= _("Present the task with max. 1000 characters.") %></br>
    <%= _("Join the discussion with your own comment.") %></br>
    <%= _("Make the initiative using some UN:s official languages (6).") %></br>
  </p>
  
  <%= render 'form' %>
  
  <div style="height:200px"></div>
  
</article>
