<p>
  <strong>Topic:</strong>
  <%= @comment.topic %>
</p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<p>
  <strong>Email:</strong>
  <%= @comment.email %>
</p>

<p>
  <strong>Language:</strong>
  <%= @comment.language %>
</p>

<p>
  <strong>Name:</strong>
  <%= @comment.name %>
</p>

