<article>
<h1 class="page-header"><%= _("Helsinki, 04.11.2014") %></h1>
<p class="lead">
  <%= _("To the Secretary-General and Secretariat of the United Nations") %>
</p>
<p>
  <%= _("We the undersigned addressees turn to you because of our concern at the state of the global environment. In many parts of the world the deterioration of the environment can be linked directly to social problems among the local population.") %>
</p>

<p>
  <%= _("Such harmful developments have accelerated and often aggravated one another. It is to be feared that this process may reach unnoticed a ‘point of no return’, after which it can no longer be reversed, or even arrested, by human intervention.") %>
</p>

<p>
  <%= _("In the next few decades only strong and effective countermeasures will be able to halt the advance of this process. We propose for your consideration the idea that global spending on armaments should be re-directed (along with other measures) to address social and environmental deterioration in a more focused manner than at present.") %>
</p>

<p>
  <%= _("We propose action on projects requiring large-scale resources, both of manpower and equipment; these would include agro-forestry projects, forest, plant and animal relocations in the wake of global warming. Such projects would assist in averting the worst catastrophes; they would also aid and foster ecological and social stability, and employment at the local level, assuming the use of local labor.") %>
</p>

<p>
  <%= _("Total global spending on armaments is estimated at $1500 billion annually; such spending can be put into perspective by setting it alongside the estimated cost of the afforestation of the entire Sahara Desert, which would amount to about one-sixth of annual global armaments spending. This example neatly illustrates the extent of the potential needed for action in this matter, should the political will be found.") %>
</p>

<p>
  <%= _("On a political level, it is the accepted practice everywhere that the military is called in to assist those affected by sudden and unexpected environmental disasters. It would simply be a logical extension of this practice to employ such a resource in counteracting the effects of more gradual but much larger-scale and inexorably-advancing catastrophes; this with the help, it is to be hoped, of local NGOs.") %>
</p>

<p>
  <%= _("We earnestly hope that the United Nations will consider instigating a global initiative to put the proposals outlined above into effect and for a redeployment of the world’s armed forces into this new task as soon as possible. Such an initiative would also have 
a tangible effect in promoting world peace.") %>
</p>

<br/>
<br/>
<br/>

<table class="sd-table-appeal">
<tr><td><%= image_tag("lindstrom.jpg") %></td><td><%= image_tag("paloheimo.jpg") %></td></tr>
<tr><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>__________________________________</td><td> _____________________________________</td></tr>
<tr><td>U.B. Lindström, <%= _("professor") %></td><td>Eero Paloheimo, <%= _("professor") %></td></tr>
<tr><td colspan="2">&nbsp;</td></tr>
<tr><td>U.B. Lindström</td><td>Eero Paloheimo</td></tr>
<tr><td>Sädepolku 2, 00750 Helsinki</td><td>Ilmari Kiannon kuja 11, 04310 Tuusula</td></tr>
<tr><td><%= _("e-mail") %>: ulf.lindstrom@kolumbus.fi</td><td><%= _("e-mail") %>: ekpaloheimo@hotmail.com</td></tr>
</table>

	

</article>
