<!-- Content -->

  <!-- Fullscreen Slider Section -->
  <section class="section-block featured-media tm-slider-parallax-container">
    <div class="tm-slider-container full-width-slider" data-featured-slider data-progress-bar="false" data-parallax data-parallax-fade-out data-auto-advance data-animation="slide" data-scale-under="960">
      <ul class="tms-slides">
        <li class="tms-slide" data-image data-force-fit data-overlay-bkg-color="#000000" data-overlay-bkg-opacity="0.0">
          <div class="tms-content">
            <div class="tms-content-inner center left-on-mobile v-align-middle">
              <div id="appeal_caption" class="row">
                <div class="column width-12">
                  <h1 class="tms-caption title-xlarge color-white lspacing-medium no-margin-bottom weight-bold" style="font-size: 5rem;" data-animate-in="opacity:0;scale:1.5px;duration:600ms;easing:easeFastSlow;" data-no-scale>
                    <%= _("First Aid") %>
                  </h1>
                  <div class="clear"></div>
                  <h5 class="tms-caption color-white lspacing-medium mt-20" style="font-size: 5rem;" data-animate-in="opacity:0;transY:50px;duration:600ms;delay:300ms;easing:easeFastSlow;" data-no-scale>
                    <%= _("To Our Common World") %>
                  </h5>
                </div>
              </div>
            </div>
          </div>
          <img data-src="/images/frontpage-slides/slide-5.jpg" src="/images/blank.png" alt=""/>
        </li>
      </ul>
    </div>
  </section>
  <!-- Fullscreen Slider Section End -->

  <!-- Feature Column Section -->
  <div id="featured-trips" class="section-block replicable-content">
    <div class="row">
      <div class="column width-4">
        <div class="feature-column small left">
          <span class="text-small pull-left font-alt-1">01.</span>
          <div class="feature-text">
            <h5 class="text-uppercase text-small weight-light" style="font-weight: normal"><%= _("Campaign") %></h5>
            <p class="mb-mobile-30">
              <%= _("We introduce this campaign to support an initiative presented to the United Nations Secretariat by two professors: U.B. Lindström and Eero Paloheimo.") %>
            </p>
          </div>
        </div>
      </div>
      <div class="column width-4">
        <div class="feature-column small left">
          <span class="text-small pull-left font-alt-1">02.</span>
          <div class="feature-text">
            <h5 class="text-uppercase text-small weight-light" style="font-weight: normal"><%= _("State of the global environment") %></h5>
            <p class="mb-mobile-30"><%= _("The concern of this campaign is that the global environment is radically deteriorating. Dangerous developments have accelerated and approach the point of no return.") %></p>
          </div>
        </div>
      </div>
      <div class="column width-4">
        <div class="feature-column small left">
          <span class="text-small pull-left font-alt-1">03.</span>
          <div class="feature-text">
            <h5 class="text-uppercase text-small weight-light" style="font-weight: normal"><%= _("New global role for the Military") %></h5>
            <p class="mb-mobile-30"><%= _("It is accepted that the military are called to assist the areas affected by sudden disasters. The same power should be used to defend us against gradual disasters.") %></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Intro Section -->
  <div class="section-block grid-container fade-in-progressively bkg-charcoal color-white" data-layout-mode="masonry" data-grid-ratio="1" data-animate-filter-duration="0.7" data-set-dimensions data-animate-resize data-animate-resize-duration="0.8">

    <div class="row">
      <div class="column width-6" style="padding: 0 1em;">
        <h3 class="mb-50">U.B. Lindström, <%= _("professor") %></h3>
        <p class="mb-40"><%= _("\"Time is running out while we are destroying the planet's resources. This must be changed and it can be changed. You can participate. Take action today.\"") %>
          <br/><a style="text-decoration:underline;" href="#">ulf.lindstrom@kolumbus.fi</a>
        </p>
        <div class="thumbnail no-margin-bottom">
          <iframe style="width: 70% !important; height: 300px !important;" src="https://player.vimeo.com/video/141501775?byline=0&portrait=0" width="933" height="525" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <p class="weight-bold text-uppercase transparent-element mb-mobile-50"><small>U.B. Lindström, professori</small></p>
      </div>

      <div class="column width-6" style="padding: 0 1em;">
        <h3 class="mb-50">Eero Paloheimo, <%= _("professor") %></h3>
        <p class="mb-40"><%= _("\"We are in a hurry. We don’t have time for centuries, we have only decades. That is why effective and quick actions are necessary. The armies are the only possibility.\"") %>
          <br/>
          <a style="text-decoration:underline;" href="#">ekpaloheimo@hotmail.com</a> </p>
        <div class="thumbnail no-margin-bottom">
          <iframe style="width: 70% !important; height: 300px !important;" src="https://player.vimeo.com/video/141501786?byline=0&portrait=0" width="933" height="525" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <p class="weight-bold text-uppercase transparent-element mb-mobile-50"><small>Eero Paloheimo, professori</small></p>
      </div>
    </div>
  </div>

  <!-- Intro Section End -->

  <!-- kirje -->

  <div class="section-block replicable-content bkg-charcoal color-white">
    <div class="row">
      <div class="column width-8 offset-2 left">
        <h1 class="page-header"><%= _("Initiative presented to the United Nations:") %></h1>
        <p class="lead">
          <%= _("To the Secretary-General and Secretariat of the United Nations") %><br/>
          <%= _("Helsinki, 4.11.2014") %>
        </p>
        <p>
      <%= _("We the undersigned addressees turn to you because of our concern at the state of the global environment. In many parts of the world the deterioration of the environment can be linked directly to social problems among the local population.") %>
        </p>

        <p>
      <%= _("Such harmful developments have accelerated and often aggravated one another. It is to be feared that this process may reach unnoticed a ‘point of no return’, after which it can no longer be reversed, or even arrested, by human intervention.") %>
        </p>

        <p>
      <%= _("In the next few decades only strong and effective countermeasures will be able to halt the advance of this process. We propose for your consideration the idea that global spending on armaments should be re-directed (along with other measures) to address social and environmental deterioration in a more focused manner than at present.") %>
        </p>

        <p>
      <%= _("We propose action on projects requiring large-scale resources, both of manpower and equipment; these would include agro-forestry projects, forest, plant and animal relocations in the wake of global warming. Such projects would assist in averting the worst catastrophes; they would also aid and foster ecological and social stability, and employment at the local level, assuming the use of local labor.") %>
        </p>

        <p>
      <%= _("Total global spending on armaments is estimated at $1500 billion annually; such spending can be put into perspective by setting it alongside the estimated cost of the afforestation of the entire Sahara Desert, which would amount to about one-sixth of annual global armaments spending. This example neatly illustrates the extent of the potential needed for action in this matter, should the political will be found.") %>
        </p>

        <p>
      <%= _("On a political level, it is the accepted practice everywhere that the military is called in to assist those affected by sudden and unexpected environmental disasters. It would simply be a logical extension of this practice to employ such a resource in counteracting the effects of more gradual but much larger-scale and inexorably-advancing catastrophes; this with the help, it is to be hoped, of local NGOs.") %>
        </p>
        
        <p>
          <%= _("We earnestly hope that the United Nations will consider suggesting a global initiative to put the proposals outlined above into effect and for a redeployment of the world’s armed forces into this new task as soon as possible. Such an initiative would also have a tangible effect in promoting world peace.") %>
        </p>
        <br>      
      </div>
    </div>
  </div>

    <!-- kirje -->

    <!-- Feature Section 1 -->
    <section class="section-block feature-1 bkg-beige">
      <div class="row no-padding-bottom">
        <div class="column width-6 offset-3">
          <div class="feature-content">
            <div class="feature-content-inner">

              <%= link_to new_vote_path(locale: locale), { :class => "button xlarge bkg-black thick bkg-hover-white color-white color-hover-black text-uppercase mb-90", :data => { :no_turbolink => true }} do %>
                  <span class="icon-add-user left"></span>
                  <%= _("Support now") %>
              <% end %>

            </div>
          </div>
        </div>
      </div>

    </section>
    <!-- Feature Section 1 End -->
  <!-- Content End -->

