<article class="ua-main-screen">
  <h1><%= _("First Aid") %></h1>
  <h2><%= _("To Our Common World") %></h2>

  <hr>
  
  <div style="margin:10%;padding:20px;">
    <h3><%= _("There is a hidden potential at hand: the national armies. We have to give the armies a new, positive task. In these pages we collect support for a global initiative.") %></h3>
    <h3><%= _("Save the planet.") %></h3>
    <h3><%= _("Act NOW!") %></h3>
  </div>

  <hr>

  <p>
    <%= link_to _("Continue"), video_path(locale: locale) %>
  </p>
</article>
