<script>
  $(document).ready(function() {
    function load_votes() {
      $.get('/votes/recently_added.json').success(function(data) { 
        recent_votes = new StopDisaster.Collections.Votes(data)
        view = new StopDisaster.Views.VotesIndex({collection: recent_votes})
        view.render()
        $("#recent_votes").html(view.$el.html())
      })
    }

    setInterval(function() { load_votes() }, 5000)

    $("a#new_vote").on("ajax:success", function(evt, data, status, xhr) {
      $("div.modal-body").html(data);
      $("form#new_vote").on("ajax:success", function(evt, data, status, xhr) {
        console.log("success", data)
        $("div.modal").modal("hide");
      });
      $("form#new_vote").on("ajax:error", function(evt, data, status, xhr) {
        console.log("error", data)
      });
      $("div.modal").modal("show");
    });
    $("a#new_vote").on("ajax:error", function(evt, data, status, xhr) {});

  });
</script>


<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
    <li data-target="#myCarousel" data-slide-to="6"></li>
    <li data-target="#myCarousel" data-slide-to="7"></li>
    <li data-target="#myCarousel" data-slide-to="8"></li>
    <li data-target="#myCarousel" data-slide-to="9"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag "kuva01.jpg" %>
    </div>

    <div class="item">
      <%= image_tag "kuva02.jpg" %>
    </div>

    <div class="item">
      <%= image_tag "kuva03.jpg" %>
    </div>

    <div class="item">
      <%= image_tag "kuva04.jpg" %>
    </div>

    <div class="item">
      <%= image_tag "kuva05.jpg" %>
    </div>

    <div class="item">
      <%= image_tag "kuva06.jpg" %>
    </div>

    <div class="item">
      <%= image_tag "kuva07.jpg" %>
    </div>

    <div class="item">
      <%= image_tag "kuva08.jpg" %>
    </div>

    <div class="item">
      <%= image_tag "kuva09.jpg" %>
    </div>

    <div class="item">
      <%= image_tag "kuva10.jpg" %>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only"><%= _("Previous") %></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only"><%= _("Next") %></span>
  </a>
</div>

<div class="row">
  <div class="col-md-3">
    <div class="panel panel-success appeal">
      <div class="panel-heading">
        <h3 class="panel-title">
          <strong class="appeal-title">
            <%= _("To the Secretary-General and Secretariat of the United Nations") %>
          </strong>
        </h3>
      </div>
      <div class="panel-body">
        <small>
          <p>
            <%= _("We the undersigned addressees turn to you because of our concern at the state of the global environment. In many parts of the world the deterioration of the environment can be linked directly to social problems among the local population.") %>
          </p>
          <p>
            <%= _("Such harmful developments have accelerated and often aggravated one another. It is to be feared that this process may reach unnoticed a ‘point of no return’, after which it can no longer be reversed, or even arrested, by human intervention...") %>
          </p>
        </small>
        <%= link_to _("Read Appeal"), controller: "welcome", action: "appeal" %>
      </div>            
    </div>

    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><%= _("Votes") %></h3>
      </div>
      <div class="panel-body">  
        <p>
        <%= link_to _("View how people have voted"), controller: "votes", action: "index" %>
        </p>
        <p>
        <%= link_to _("View the best public votes"), controller: "votes", action: "index" %>
        </p>
      </div>
    </div>

    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><%= _("Recent Votes") %></h3>
      </div>
      <div class="panel-body" id="recent_votes">
        
      </div>
    </div>

  </div>
  <div class="col-md-6">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h1 class="panel-title"><%= _("Stop Disaster - Now!") %></h1>
      </div>
      <div class="panel-body">
        <p>
          <%= _("The global environmental catastrophe is emerging and the process is accelerating. We are in a hurry. Radical actions are urgently needed to save our planet.") %>
        </p>
        <p>
          <%= _("There is a hidden potential at hand: the national armies. We have to give the armies a new, positive task. In these pages we collect support to a global initiative. Save the planet. Act NOW!") %>
        <p>
            <%= link_to(new_vote_path, remote: true, id: "new_vote" ) do %>
              <button class="btn btn-lg btn-success" type="button"><%= _("Sign!") %></button>
            <% end %>
          </p>
        </p>

        <p>
          <div class="modal fade">
            <div class="modal-dialog">
              <div class="modal-header">
                <%= button_tag(type: :button, class: :close, :"data-dismiss" => "modal") do %>
                  <%= "&times;".html_safe %>
                <% end %>
                <h4 class="modal-title"><%= _("Sign the petition") %></h4>
              </div>
              <div class="modal-body"></div>
            </div>
          </div>          
        </p>

        <!--
        <iframe width="520" height="315" src="https://www.youtube.com/embed/PwSHOI7DwWM" frameborder="0" allowfullscreen></iframe>
        -->
      </div>
      <div class="panel-heading">
        <h1 class="panel-title"><%= _("Background") %></h1>
      </div>
      <div class="panel-body">
        <p>
          <%= _("We introduce this global campaign to support an initiative officially presented to the United Nations Secretariat by two professors, professor U.B. Lindström and professor Eero Paloheimo.") %>
        </p>
        <p>
          <h3><%= _("State of the global environment - point of no return") %></h3>
          <%= _("The main concern of this campaign is the fact that the state of the global environment is radically deteriorating. Harmful developments have accelerated and we are approaching a point of no return.") %>
        </p>       
        <p>
          <h3><%= _("New global role for the Military") %></h3>
          <%= _("It is the accepted practice all round the globe that the military is called in to assist those affected by sudden and unexpected environmental disasters. It would simply be a logical extension of this to employ such a resource in counteracting the effects of large-scale and inexorably-advancing catastrophes.") %>
        </p>      
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><%= _("Discussion: World Government") %></h3>
      </div>
      <div class="panel-body">
        <a href="https://muut.com/stopdisaster", target="top"><%= _("Join discussion") %></a>
      </div>
    </div>

    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><%= _("Discussion: Water and nature conservation") %> </h3>
      </div>
      <div class="panel-body">
        <a href="https://muut.com/stopdisaster", target="top"><%= _("Join discussion") %></a>
      </div>
    </div>

    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><%= _("Discussion: Sahara Forestication") %></h3>
      </div>
      <div class="panel-body">
        <a href="https://muut.com/stopdisaster", target="top"><%= _("Join discussion") %></a>
      </div>
    </div>

    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><%= _("Discussion: Plastic Disaster") %></h3>
      </div>
      <div class="panel-body">
        <p></p>
        <a href="https://muut.com/stopdisaster", target="top"><%= _("Join discussion") %></a>
      </div>
    </div>
  </div>
</div>

  <div class="jumbotron">
    <p class="container">
      <b><%= _("We demand the United Nations to instigate a global initiative for a redeployment of the world’s armed forces into the new environmental task as soon as possible.") %></b>
    </p>
  </div>
