<!-- Fullscreen Slider Section -->
<section class="section-block featured-media window-height tm-slider-parallax-container">
  <div class="tm-slider-container full-width-slider" data-featured-slider data-progress-bar="false" data-parallax data-parallax-fade-out data-auto-advance data-animation="slide" data-scale-under="960">
    <ul class="tms-slides">
      <li class="tms-slide" data-image data-force-fit>
        <div class="tms-content">
          <div class="tms-content-inner center left-on-mobile v-align-middle">
            <div class="row">
              <div class="column width-12">
                <h1 class="tms-caption title-xlarge color-white lspacing-medium mb-20 weight-bold" data-animate-in="opacity:0;scale:1.5px;duration:600ms;easing:easeFastSlow;" data-no-scale>
                  <%= _("Save the planet") %>
                </h1>

                <h5 class="tms-caption color-white lspacing-medium hide-on-mobile" data-animate-in="opacity:0;transY:50px;duration:600ms;delay:300ms;easing:easeFastSlow;" data-no-scale>
                  <%= _("Give the armies a new, positive task: protect the environment") %>
                </h5>
                <div class="clear"></div>
                <%= link_to new_vote_path(locale: locale, anchor: "sign"), :class => "tms-caption button large bkg-white thick bkg-hover-beige color-black color-hover-white text-uppercase no-margin-bottom text-uppercase", data: { animate_in: "opacity:0;transY:50px;duration:600ms;delay:400ms;easing:easeFastSlow;", no_scale: true, no_turbolink: true } do %>
                    <%= _("Support now") %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <img data-src="/images/slide-1-fs.jpg" data-retina src="/images/blank.png" alt=""/>
      </li>
    </ul>
  </div>
</section>
<!-- Fullscreen Slider Section End -->

<div class="section-block bkg-charcoal" style="margin: 0pt 0pt; padding: 0pt 0pt; overflow: hidden;">
  <ol class="slideshow" style="height: 66vw; min-height: 300pt;" data-interval="5">
    <li data-image-src="/images/frontpage-slides/slide-2.jpg" data-class="black-text"/>
    <li data-image-src="/images/frontpage-slides/viidakko.jpg" data-class="black-text"/>
    <li data-image-src="/images/frontpage-slides/slide-3.jpg"/>
    <li data-image-src="/images/frontpage-slides/luminen-puu.jpg"/>
    <li data-image-src="/images/frontpage-slides/slide-5.jpg"/>
    <li data-image-src="/images/frontpage-slides/slide-6.jpg"/>
  </ol>
  <div style="display: flex; align-items: center;" id="slideshow-caption" class="feature-column large center horizon" data-animate-in="opacity:0;transY:50px;duration:600ms;delay:300ms;easing:easeFastSlow;" data-threshold="1">
    <div style="">
      <div class="column width-12 center">
        <h2 class="mb-30" style="font-size: 2.0em; text-align: left; ">
          <span>
            <%= _("First Aid") %> <%= _("To Our Common World") %>
          </span>
        </h2>
      </div>
      <div class="column width-12 left">
        <p class="mb-30"
           style="font-size: 1.5em; text-transform: uppercase; text-align: left;">
          <span>
            <%= _("There is a hidden potential at hand: the national armies.") %>
            <%= _("We have to give the armies a new, positive task.") %><br/>
            <%= _("In these pages we collect support for a global initiative.") %>
          </span>
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Leffa -->
<!--section-- id="leffa">
  <div class="section-block replicable-content bkg-grey-ultralight">
    <div class="row">
      <div class="column width-6 offset-3 center">
        <h2 class="mb-30">
          <%= _("First Aid") %> <%= _("To Our Common World") %>
        </h2>
      </div>
      <div class="column width-6 offset-3 left">
        <p class="mb-30"
           style="text-align:center;">
          <%= _("There is a hidden potential at hand: the national armies.") %>
          <strong><%= _("We have to give the armies a new, positive task.") %></strong>
          <%= _("In these pages we collect support for a global initiative.") %>
          <br>
        </p>
      </div>
      <div class="column width-10 offset-1">
        <div class="thumbnail">
          <%
            if locale == :fi
              url = "https://player.vimeo.com/video/153508732?autoplay=false"
            elsif locale == :es
              url = "https://player.vimeo.com/video/153508813?autoplay=false"
            elsif locale == :zh
              url = "https://player.vimeo.com/video/153508814?autoplay=false"
            elsif locale == :ru
              url = "https://player.vimeo.com/video/153508816?autoplay=false"
            elsif locale == :fr
              url = "https://player.vimeo.com/video/153508812?autoplay=false"
            elsif locale == :ar
              url = "https://player.vimeo.com/video/160513218?autoplay=false"
            else
              url = "https://player.vimeo.com/video/153508772?autoplay=false"
            end
          %>
          <iframe src="<%= url %>" width="500" height="375" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

          <% if false %>
              <%= image_tag "barber-shop/vimeo_bg.jpg", alt:"", width:1440, height:700 %>
              <div class="caption-over-outer">
                <div class="caption-over-inner center color-white">
                  <div class="row">
                    <div class="column width-12">
                      <a href="<%= url %>" data-image-url="#" data-caption="<%= _("We have to give the armies a new, positive task") %>" class="lightbox-link icon-play icon-circled border-white color-white color-hover-white bkg-hover-beige circled large">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section-->
<!-- Leffa End -->

<!-- columnit -->
<section>
  <div class="section-block replicable-content bkg-charcoal color-white">

    <div class="row">
      <div class="column width-12">
        <div class="row">
          <div class="column width-6">
            <div class="feature-column large center horizon" data-animate-in="transX:-30px;" data-threshold="1">
              <div style="margin: 20px 0;">
                <%= image_tag "barber-shop/pollution.jpg", alt:"" %>
              </div>
              <div class="feature-text">
                <h5><%= _("Air pollution is a global Challenge!") %></h5>
                <p>
                  <%= _("The resources and capacity of the United Armies must be directed to reforestation of the deserts.") %>
                </p>
              </div>
            </div>
          </div>
          <div class="column width-6">
            <div class="feature-column large center horizon" data-animate-in="transX:30px;delay:200ms;" data-threshold="1">
              <div style="margin: 20px 0;">
                <%= image_tag "barber-shop/nowater.jpg", alt:"" %>
              </div> <div class="feature-text">
              <h5><%= _("Water is the Mother of Life – we all need it!") %></h5>
              <p><%= _("The United Armies must ensure sufficient water availability everywhere for the needs of people and life.") %></p>
            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="column width-6">
            <div class="feature-column large center horizon" data-animate-in="transX:-30px;delay:400ms;" data-threshold="1">
              <div style="margin:20px 0;">
                <%= image_tag "barber-shop/trash.jpg", alt:"" %>
              </div>
              <div class="feature-text">
                <h5><%= _("Millions of Tons of Plastic Waste on the Shores and Oceans!") %></h5>
                <p><%= _("The United Armies must collect the plastic waste from the oceans and shores.") %></p>
              </div>
            </div>
          </div>
          <div class="column width-6">
            <div class="feature-column large center horizon" data-animate-in="transX:30px;delay:600ms;" data-threshold="1">
              <div style="margin: 20px 0;">
                <%= image_tag "barber-shop/polars.jpg", alt:"" %>
              </div>
              <div class="feature-text">
                <h5><%= _("We must defend Life's Richness on our Planet!") %></h5>
                <p><%= _("The United Armies must protect the areas reserved for nature.") %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Feature Section 1 -->
<section class="section-block feature-1 bkg-beige">
  <div class="row no-padding-bottom">
    <div class="column width-6 offset-3">
      <div class="feature-content">
        <div class="feature-content-inner">
          <%= link_to appeal_path(locale: locale), { :class => "button xlarge bkg-black thick bkg-hover-white color-white color-hover-black text-uppercase mb-90", :data => { :no_turbolink => true }} do %>
              <span class="icon-info-with-circle left"></span>
              <%= _("Read more") %>
          <% end %>

          <%= link_to new_vote_path(locale: locale), { :class => "button xlarge bkg-black thick bkg-hover-white color-white color-hover-black text-uppercase mb-90", :data => { :no_turbolink => true }} do %>
              <span class="icon-add-user left"></span>
              <%= _("Support now") %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Feature Section 1 End -->
