<li>
  <a class="contains-sub-menu" data-no-turbolink='true' target="_top" href=<%= url_for only_path: false, locale: :ar %> onclick="window.location = $(this).attr('href')">
    <%= image_tag "blank.gif", class: "flag flag-sa", alt: _("Arabic") %>
  </a>
</li>
<li>
  <a class="contains-sub-menu" data-no-turbolink='true' target="_top" href=<%= url_for only_path: false, locale: :zh %> onclick="window.location = $(this).attr('href')">
    <%= image_tag "blank.gif", class: "flag flag-cn", alt: _("Chinese") %>
  </a>
</li>
<li>
  <a class="contains-sub-menu" data-no-turbolink='true' target="_top" href=<%= url_for only_path: false, locale: :en %> onclick="window.location = $(this).attr('href')">
    <%= image_tag "blank.gif", class: "flag flag-gb", alt: _("English") %>
  </a>
</li>
<li>
  <a class="contains-sub-menu" data-no-turbolink='true' target="_top" href=<%= url_for only_path: false, locale: :fr %> onclick="window.location = $(this).attr('href')">
    <%= image_tag "blank.gif", class: "flag flag-fr", alt: _("French") %>
  </a>
</li>
<li>
  <a class="contains-sub-menu" data-no-turbolink='true' target="_top" href=<%= url_for only_path: false, locale: :ru %> onclick="window.location = $(this).attr('href')">
    <%= image_tag "blank.gif", class: "flag flag-ru", alt: _("Russian") %>
  </a>
</li>
<li>
  <a class="contains-sub-menu" data-no-turbolink='true' target="_top" href=<%= url_for only_path: false, locale: :es %> onclick="window.location = $(this).attr('href')">
    <%= image_tag "blank.gif", class: "flag flag-es", alt: _("Spanish") %>
  </a>
</li>
<li>
  <a class="contains-sub-menu" data-no-turbolink='true' target="_top" href=<%= url_for only_path: false, locale: :de %> onclick="window.location = $(this).attr('href')">
    <%= image_tag "blank.gif", class: "flag flag-de", alt: _("German") %>
  </a>
</li>
<li>
  <a class="contains-sub-menu" data-no-turbolink='true' target="_top" href=<%= url_for only_path: false, locale: :se %> onclick="window.location = $(this).attr('href')">
    <%= image_tag "blank.gif", class: "flag flag-se", alt: _("Swedish") %>
  </a>
</li>
<li>
  <a class="contains-sub-menu" data-no-turbolink='true' target="_top" href=<%= url_for only_path: false, locale: :fi %> onclick="window.location = $(this).attr('href')">
    <%= image_tag "blank.gif", class: "flag flag-fi", alt: _("Finnish") %>
  </a>
</li>
