<footer class="footer text-center">      
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag "veslogo.jpg" %>
      </div>
      <div class="col-md-3">
        <h6><%= _("About Us") %></h6>
        <ul class="list-unstyled">
          <li><big><%= link_to _("Vihreän Elämänsuojelun Liitto (VESL)"), "http://www.vesl.fi/", target: "_blank" %></big></li>
          <li><big>Joni Töyrylä</big></li>
          <li>Veli Keitel</li>
          <li>Riikka Kämppi, ideoija</li>
          <li>Ulf Lindström</li>
          <li>Pentti Linkola, kannustaja</li>
          <li>Harriet Lonka</li>
          <li>Vilma Lonka</li>
          <li>Mika Mattila, filmaaja</li>
          <li>Nina Motaleff, venäjä</li>
          <li>Maria Pakkala, arabia</li>
          <li>Eero Paloheimo</li>
          <li>Terhi Paloheimo, englanti</li>
          <li>Kimmo Pietiläinen, englanti</li>
          <li>Lasse Poser, saksa</li>
          <li>Ville Rantanen, alkuvaihe</li>
          <li>Song Xiao Ling, kiina</li>
          <li>Pasi Takkinen, alkuvaihe</li>
          <li>Tere Vaden</li>
          <li>Michael Wynne-Ellis, englanti</li>
        </ul>
      </div>
      <div class="col-md-3">
        <h6><%= _("Share") %></h6>
        <ul class="list-unstyled">
          <li><%= _("Facebook") %></li>
          <li><%= _("Twitter") %></li>
          <li><%= link_to _("YouTube"), "https://www.youtube.com/watch?v=UuJHJBnSZ3w", target: "_blank" %></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h6><%= _("Recent Votes") %></h6>
        <div id="recent_votes"></div>
      </div>          
    </div>
  </div>
</footer>
