<!-- Footer -->
<footer class="footer">
  <div class="footer-top">
    <div class="row">
      <div class="column width-4">
        <div class="widget">
          <%= link_to "http://www.vesl.fi/", target: "_blank" do %>
              <h4 class="widget-title">
                <%= _("The Green Association for the Protection of Life") %>
              </h4>
              <%= image_tag "veslogo-scaled.jpg", alt: _("The Green Association for the Protection of Life") %>
          <% end %>
        </div>
        <div class="widget">
          <%= link_to "http://tekniikkaelamaapalvelemaan.fi/", target: "_blank" do %>
              <h4 class="widget-title">
                <%= _("Technology for Life") %>
              </h4>
              <%= image_tag "teplogo-scaled.jpg", alt: _("Technology for Life") %>
          <% end %>
        </div>
      </div>
      <div class="column width-4">
        <div class="widget">
          <h4 class="widget-title"><%= _("About Us") %></h4>
          <ul class="list-group small">
            <li>
              <%= link_to _("The Green Association for the Protection of Life"), "http://www.vesl.fi/", target: "_blank" %>
            </li>
            <li><span class="post-info"><span class="post-date">
                  Anyara Granskog
                </span></span></li>
            <li><span class="post-info"><span class="post-date">
                  Valtteri Hirvonen (the landscape photos)
                </span></span></li>
            <li><span class="post-info"><span class="post-date">
                  Hayang Hu
                </span></span></li>
            <li><span class="post-info"><span class="post-date">
                  Elli Kempas
                </span></span></li>
            <li><span class="post-info"><span class="post-date">
                  Ulla Klötzer
                </span></span></li>
            <li><span class="post-info"><span class="post-date">
                  Riikka Kämppi
                </span></span></li>
            <li><span class="post-info"><span class="post-date">
                  Lea Launokari
                </span></span></li>
            <li><span class="post-info"><span class="post-date">
                  Pekka Lehtinen
                </span></span></li>
            <li><span class="post-info"><span class="post-date">
                  Ulf Lindström
                </span></span></li>
            <li><span class="post-info"><span class="post-date">
                  Pentti Linkola
                </span></span></li>
            <li><span class="post-info"><span class="post-date">
                  Harriet Lonka
                </span></span></li>
            <li><span class="post-info"><span class="post-date">
                  Tommi Lukkarinen
                </span></span></li>
            <li><span class="post-info"><span class="post-date">
                  Mika Mattila
                </span></span></li>
            <li><span class="post-info"><span class="post-date">
                  Nina Motaleff
                </span></span></li>
            <li><span class="post-info"><span class="post-date">
                  Saku Mättö
                </span></span></li>
            <li><span class="post-info"><span class="post-date">
                  Aurora Paloheimo
                </span></span></li>
            <li><span class="post-info"><span class="post-date">
                  Eero Paloheimo
                </span></span></li>
            <li><span class="post-info"><span class="post-date">
                  Kimmo Pietiläinen
                </span></span></li>
            <li><span class="post-info"><span class="post-date">
                  Sanna Saastamoinen-Barrois
                </span></span></li>
            <li><span class="post-info"><span class="post-date">
                  Emmi Seppänen
                </span></span></li>
            <li><span class="post-info"><span class="post-date">
                  Adrian Soto
                </span></span></li>
            <li><span class="post-info"><span class="post-date">
                  Joni Töyrylä (<%= _("Technical realization") %>)
                </span></span></li>
            <li><span class="post-info"><span class="post-date">
                  Tere Vadén
                </span></span></li>
            <li><span class="post-info"><span class="post-date">
                  Michael Wynne-Ellis
                </span></span></li>
          </ul>
          <p>
            Contact our Campaign Assistant:<br>
            <a class="mailto-link">emmi.seppanen@unite-the-armies.org</a>
          </p>
        </div>
      </div>
      <div class="column width-3" style="padding-left: 0">
        <div class="widget">
          <h4 class="widget-title"><%= _("Recent Votes") %></h4>
          <!--div id="recent_votes"></div-->
          <table id="recent_votes" class="table">
            <thead>
              <tr class="recent_votes_header">
                <th><%= _("Country") %></td>
                <th><%= _("Name") %></td>
                <th><%= _("Ago") %></td>
              </tr>
            </thead>
            <tbody></tbody>
          </table>

        </div>
      </div>
      <div class="column width-1">
        <ul class="social-list list-horizontal pull-right clear-float-on-mobile">
          <li>
            <%= link_to "https://www.facebook.com/unitethearmiesnow", target: "_blank" do %>
                <span class="icon-facebook-with-circle medium"></span>
            <% end %>
          </li>
          <li>
            <a href="#">
              <span class="icon-twitter-with-circle medium"></span>
            </a>
          </li>
          <li>
            <%= link_to "https://www.youtube.com/channel/UCbBytuGB3cDGyJ2RCSWpovw", target: "_blank" do %>
                <span class="icon-youtube-with-circle  medium"></span>
            <% end %>
          </li>
          <li>
            <%= link_to "https://plus.google.com/u/0/b/110514912421465474435/110514912421465474435/about/p/pub", target: "_blank" do %>
                <span class="icon-google-with-circle medium"></span>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- Footer End -->

<% if false %>
<footer class="footer text-center">      
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <%= link_to image_tag("veslogo.jpg"), "http://www.vesl.fi/", target: "_blank" %>        
        <p class="continue"><%= link_to _("Back to top"), root_path %></p>
        <p class="continue"><%= link_to _("Statistics"), votes_path(locale: locale) %></p>
      </div>
      <div class="col-md-3">
        <h6><%= _("About Us") %></h6>
        <ul class="list-unstyled">
          <li><big><%= link_to _("The Green Association for the Protection of Life"), "http://www.vesl.fi/", target: "_blank" %></big></li>
          <li>Veli Keitel (<%= _("Animation realization") %>)</li>
          <li>Riikka Kämppi</li>
          <li>Pekka Lehtinen</li>
          <li>Ulf Lindström</li>
          <li>Pentti Linkola</li>
          <li>Harriet Lonka</li>
          <li>Vilma Lonka</li>
          <li>Mika Mattila</li>
          <li>Nina Motaleff</li>
          <li>Maria Pakkala</li>
          <li>Eero Paloheimo</li>
          <li>Terhi Paloheimo</li>
          <li>Kimmo Pietiläinen</li>
          <li>Lasse Poser</li>
          <li>Ville Rantanen</li>
          <li>Song Xiao Ling</li>
          <li>Adrian Soto</li>
          <li>Pasi Takkinen</li>
          <li>Joni Töyrylä (<%= _("Technical realization") %>)</li>
          <li>Tere Vad&eacute;n</li>
          <li>Michael Wynne-Ellis</li>
        </ul>
      </div>
      <div class="col-md-3">
        <h6><%= _("Share") %></h6>
        <ul class="list-unstyled">
          <li><%= link_to _("Facebook"), "https://www.facebook.com/unitethearmiesnow", target: "_blank" %></li>
          <li><%= _("Twitter") %></li>
          <li><%= link_to _("YouTube"), "https://www.youtube.com/channel/UCbBytuGB3cDGyJ2RCSWpovw", target: "_blank" %></li>
          <li><%= link_to _("Google+"), "https://plus.google.com/u/0/b/110514912421465474435/110514912421465474435/about/p/pub", target: "_blank" %></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h6><%= _("Recent Votes") %></h6>
        <div id="recent_votes"></div>
      </div>          
    </div>
  </div>
</footer>

<% end %>
