<!-- Header -->
<header class="header header-fixed header-fixed-on-mobile header-transparent" data-sticky-threshold="window-height" data-bkg-threshold="100">
  <div class="header-inner">
    <div class="row nav-bar">
      <div class="column width-12 nav-bar-inner">
	<div class="logo">
	  <div class="logo-inner">
            <%= link_to image_tag("barber-shop/logo-dark.png", alt: "Logo"), locale_root_path(locale: locale), :class => "no-transition" %>
            <%= link_to image_tag("barber-shop/logo.png", alt: "Logo"), locale_root_path(locale: locale), :class => "no-transition" %>
	  </div>
	</div>
	<nav class="navigation nav-block secondary-navigation nav-right">
	  <ul>	  
	    <li class="aux-navigation hide">
	      <!-- Aux Navigation -->
	      <a href="#" class="navigation-show overlay-nav-show nav-icon">
		<span class="icon-menu"></span>
	      </a>
	    </li>
	  </ul>
	</nav>
        <nav class="navigation nav-block primary-navigation nav-right no-margin-right">
          <ul>
            <li>
              <%= link_to _("Statistics"), votes_path(locale: locale), :class => "contains-sub-menu", data: { :no_turbolink => true } %>
            </li>
            <li>
              <%= link_to _("Read more"), appeal_path(locale: locale), :class => "contains-sub-menu", data: { :no_turbolink => true } %>
            </li>
            <li>
              <%= link_to _("Support now"), new_vote_path(locale: locale), :class => "contains-sub-menu", data: { :no_turbolink => true } %>
            </li>
            <%= render partial: "top_nav" %>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- Header End -->
