<!-- Header -->
<header class="header header-fixed header-fixed-on-mobile header-transparent" data-sticky-threshold="window-height" data-bkg-threshold="100">
  <div class="header-inner">
    <div class="row nav-bar">
      <div class="column width-12 nav-bar-inner">
	<div class="logo">
	  <div class="logo-inner">
            <%= link_to image_tag("barber-shop/logo-dark.png", alt: "Logo"), locale_root_path(locale: locale), :class => "no-transition" %>
            <%= link_to image_tag("barber-shop/logo.png", alt: "Logo"), locale_root_path(locale: locale), :class => "no-transition" %>
	  </div>
	</div>
	<nav class="navigation nav-block secondary-navigation nav-right">
	  <ul>	  
	    <li class="aux-navigation hide">
	      <!-- Aux Navigation -->
	      <a href="#" class="navigation-show overlay-nav-show nav-icon">
		<span class="icon-menu"></span>
	      </a>
	    </li>
	  </ul>
	</nav>
        <nav class="navigation nav-block primary-navigation nav-right no-margin-right">
          <ul>
            <li>
              <%= link_to _("Supporters"), votes_path(locale: locale), :class => "contains-sub-menu", data: { :no_turbolink => true } %>
            </li>
            <li>
              <%= link_to _("Read more"), appeal_path(locale: locale), :class => "contains-sub-menu", data: { :no_turbolink => true } %>
            </li>
            <li>
              <%= link_to _("Support now"), new_vote_path(locale: locale), :class => "contains-sub-menu", data: { :no_turbolink => true } %>
            </li>

            <li>
              <a class="contains-sub-menu current" data-no-turbolink='true' href=<%= url_for only_path: false, locale: :ar %>>
                <%= image_tag "blank.gif", class: "flag flag-sa" %>
              </a>
            </li>
            <li>
              <a class="contains-sub-menu current" data-no-turbolink='true' href=<%= url_for only_path: false, locale: :zh %>>
                <%= image_tag "blank.gif", class: "flag flag-cn" %>
              </a>
            </li>
            <li>
              <a class="contains-sub-menu current" data-no-turbolink='true' href=<%= url_for only_path: false, locale: :en %>>
                <%= image_tag "blank.gif", class: "flag flag-gb" %>
              </a>
            </li>
            <li>
              <a class="contains-sub-menu current" data-no-turbolink='true' href=<%= url_for only_path: false, locale: :fr %>>
                <%= image_tag "blank.gif", class: "flag flag-fr" %>
              </a>
            </li>
            <li>
              <a class="contains-sub-menu current" data-no-turbolink='true' href=<%= url_for only_path: false, locale: :ru %>>
                <%= image_tag "blank.gif", class: "flag flag-ru" %>                
              </a>
            </li>
            <li>
              <a class="contains-sub-menu current" data-no-turbolink='true' href=<%= url_for only_path: false, locale: :es %>>
                <%= image_tag "blank.gif", class: "flag flag-es" %>
              </a>
            </li>
            <li>
              <a class="contains-sub-menu current" data-no-turbolink='true' href=<%= url_for only_path: false, locale: :de %>>
                <%= image_tag "blank.gif", class: "flag flag-de" %>
              </a>
            </li>
            <li>
              <a class="contains-sub-menu current" data-no-turbolink='true' href=<%= url_for only_path: false, locale: :se %>>
                <%= image_tag "blank.gif", class: "flag flag-se" %>
              </a>
            </li>
            <li>
              <a class="contains-sub-menu current" data-no-turbolink='true' href=<%= url_for only_path: false, locale: :fi %>>
                <%= image_tag "blank.gif", class: "flag flag-fi" %>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- Header End -->
