<!-- Header -->
<header class="header header-fixed header-fixed-on-mobile header-transparent" data-sticky-threshold="window-height" data-bkg-threshold="100">
  <div class="header-inner">
    <div class="row nav-bar">
      <div class="share-buttons">
        <a class="facebook share-button"
           href="https://www.facebook.com/dialog/feed?app_id=184683071273&link=http%3A%2F%2Funite-the-armies.org%2F&picture=http%3A%2F%2Funite-the-armies.org%2Fimages%2Ffrontpage-slides%2Fslide-5.jpg&name=&caption=%20&description=Please%20take%20two%20seconds%20and%20sign%20an%20appeal%20for%20the%20United%20Nations%20to%20ask%20armies%20to%20participate%20on%20the%20preventive%20work%20against%20climate%20catastrophe.&redirect_uri=http%3A%2F%2Fwww.facebook.com%2F">Share</a>
        <a class="twitter share-button"
           href="http://twitter.com/intent/tweet?text=Sign%20an%20appeal%20for%20the%20UN%20to%20ask%20armies%20to%20participate%20on%20the%20preventive%20work%20against%20climate%20catastrophe.%20http%3A%2F%2Funite-the-armies.org%2F">Tweet</a></div>
      <div class="column width-12 nav-bar-inner">
        <div class="logo">
          <div class="logo-inner">
            <%= link_to image_tag("barber-shop/logo-dark.png", alt: "Logo"), locale_root_path(locale: locale), :class => "no-transition" %>
            <%= link_to image_tag("barber-shop/logo.png", alt: "Logo"), locale_root_path(locale: locale), :class => "no-transition" %>
          </div>
        </div>
        <nav class="navigation nav-block secondary-navigation nav-right">
          <ul>
            <li class="aux-navigation hide">
              <!-- Aux Navigation -->
              <a href="#" class="navigation-show overlay-nav-show nav-icon">
                <span class="icon-menu"></span>
              </a>
            </li>
          </ul>
        </nav>
        <nav class="navigation nav-block primary-navigation nav-right no-margin-right">
          <ul>
            <li>
              <%= link_to _("Supporters"), votes_path(locale: locale), :class => "contains-sub-menu", data: { :no_turbolink => true } %>
            </li>
            <li>
              <%= link_to _("Read more"), appeal_path(locale: locale), :class => "contains-sub-menu", data: { :no_turbolink => true } %>
            </li>
            <li>
              <%= link_to _("Support now"), new_vote_path(locale: locale), :class => "contains-sub-menu", data: { :no_turbolink => true } %>
            </li>
            <%= render partial: "flags" %>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- Header End -->
