    <li>
      <a class="contains-sub-menu current" data-no-turbolink='true' href=<%= url_for only_path: false, locale: :ar %>>
        <%= image_tag "blank.gif", class: "flag flag-sa" %>
      </a>
    </li>
    <li>
      <a class="contains-sub-menu current" data-no-turbolink='true' href=<%= url_for only_path: false, locale: :zh %>>
        <%= image_tag "blank.gif", class: "flag flag-cn" %>
      </a>
    </li>
    <li>
      <a class="contains-sub-menu current" data-no-turbolink='true' href=<%= url_for only_path: false, locale: :en %>>
        <%= image_tag "blank.gif", class: "flag flag-gb" %>
      </a>
    </li>
    <li>
      <a class="contains-sub-menu current" data-no-turbolink='true' href=<%= url_for only_path: false, locale: :fr %>>
        <%= image_tag "blank.gif", class: "flag flag-fr" %>
      </a>
    </li>
    <li>
      <a class="contains-sub-menu current" data-no-turbolink='true' href=<%= url_for only_path: false, locale: :ru %>>
        <%= image_tag "blank.gif", class: "flag flag-ru" %>                
      </a>
    </li>
    <li>
      <a class="contains-sub-menu current" data-no-turbolink='true' href=<%= url_for only_path: false, locale: :es %>>
        <%= image_tag "blank.gif", class: "flag flag-es" %>
      </a>
    </li>
    <li>
      <a class="contains-sub-menu current" data-no-turbolink='true' href=<%= url_for only_path: false, locale: :fi %>>
        <%= image_tag "blank.gif", class: "flag flag-fi" %>
      </a>
    </li>
