<a name="sign"></a>
<div class="new_vote_form">
<% 
   remote = request.xhr? ? true : false   
%>

<%= form_for @vote, url: {action: "create"}, html: {class: "nifty_form"}, remote: remote do |f| %>
<% if @vote.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@vote.errors.count, "error") %> 
      prohibited this vote from being saved:
    </h2>
    <ul>
      <% @vote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>  

<div class="ua-sign-the-petition">
  <h1><%= _("Support the Initiative") %></h1>
  <br/>
  <p class="lead"><%= _("We suggest the United Nations presents a global initiative for a redeployment of the world’s armed forces into the new significant environmental tasks as soon as possible.") %></p>

  <div class="field">
    <%= _("Name") %> (*) </br>
    <%= f.text_field :name, :class => "form-control" %>
  </div>
  <div class="field">
    <%= _("Email") %> (*) </br>
    <%= f.text_field :email, :class => "form-control" %>
  </div>
  <div class="field">
    <%= _("Email Confirmation") %> (*) </br>
    <%= f.text_field :email_confirmation, :class => "form-control" %>
  </div>
  <div class="field">
    <%= _("Country") %> (*) </br>
    <%= f.select :country, options_for_select(Country.for_select, country_code), :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :humanizer_answer, @vote.humanizer_question %> </br>
    <%= f.text_field :humanizer_answer, :class => "form-control" %>
    <%= f.hidden_field :humanizer_question_id %>
  </div>

  <div class="field"><%= _("You can also contribute to the discussion after signing. You will get a separate message of that by email.") %></div>

  <div class="field">
    <%= f.submit _("Send"), :class => "btn btn-primary" %>
  </div>
</div>

<% end %>

</div>
