<div class="new_vote_form">
<% 
   remote = request.xhr? ? true : false   
%>

<%= form_for @vote, url: {action: "create"}, html: {class: "nifty_form"}, remote: remote do |f| %>
<% if @vote.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@vote.errors.count, "error") %> 
      prohibited this vote from being saved:
    </h2>
    <ul>
      <% @vote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>  

<div>
  <h1><%= _("Sign the petition") %></h1>
  <p class="lead">
    I understand that we are globally destroying ourselves. I understand that humanitys main threat is human itself. I want to give a vote to the appeal to unite the armies of the world to prevent huge environmental catastrophes globally all over the world. However, i understand that this is not enough. I understand that, for this moment on if this planet needs me, i will take any peaceful action necessary to save the planet. For this moment on i will stand strong and never harm our magnificent, unique, most beautiful planet anymore. I will oppose peacefully anybody, anywhere, anytime who will do so. I will never give up. I will start now.
  </p>
  <div class="field">
    <%= _("Name") %> (*) </br>
    <%= f.text_field :name, :class => "form-control" %>
  </div>
  <div class="field">
    <%= _("Email") %> (*) </br>
    <%= f.text_field :email, :class => "form-control" %>
  </div>
  <div class="field">
    <%= _("Email Confirmation") %> (*) </br>
    <%= f.text_field :email_confirmation, :class => "form-control" %>
  </div>
  <div class="field">
    <%= _("Country") %> (*) </br>
    <%= f.select :country, options_for_select(Country.for_select, country_code), :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :humanizer_answer, @vote.humanizer_question %> </br>
    <%= f.text_field :humanizer_answer, :class => "form-control" %>
    <%= f.hidden_field :humanizer_question_id %>
  </div>
  <div class="field">
    <%= f.submit "Sign", :class => "btn btn-primary" %>
  </div>
</div>

<% end %>

</div>
