<%= form_tag email_invite_votes_path, remote: true do %>
<% if @vote.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@vote.errors.count, "error") %> 
      prohibited this vote from being saved:
    </h2>
    <ul>
      <% @vote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>  

<div>
  <%= hidden_field_tag(:t, @vote.md5_secret_token) %>
  <div class="field">
    <%= label_tag _("Choose the language of the invitation letter") %>
    <%= select_tag :language, options_for_select(Language.translated_select_options), :class => "form-control" %>
  </div>
  <div class="field">
    <%= label_tag _("Name of your friend") + " *" %>
    <%= text_field_tag :name, nil, :class => "form-control", :style => "color: black !important" %>
  </div>
  <div class="field">
    <%= label_tag _("Your friends email address") + " *" %>
    <%= text_field_tag :email, nil, :class => "form-control", :style => "color: black !important" %>
  </div>
  <div class="field">
    <%= label_tag _("Email Confirmation") + " *" %>
    <%= text_field_tag :email_confirmation, nil, :class => "form-control", :style => "color: black !important" %>
  </div>
  <div class="field">
    <div class="g-recaptcha" data-sitekey="6LfwgBQTAAAAAJrdJfpdvnMhibW4iUFJRdlK0ZXb"></div>
  </div>
  <div class="field">
    <%= submit_tag _("Send"), :class => "button xlarge bkg-black thick bkg-hover-white color-white color-hover-black text-uppercase mb-90" %>
  </div>
</div>
<% end %>

