<!-- Content -->

  <!-- Fullscreen Slider Section -->
  <section class="section-block featured-media tm-slider-parallax-container">
    <div class="tm-slider-container full-width-slider" data-featured-slider data-progress-bar="false" data-parallax data-parallax-fade-out data-auto-advance data-animation="slide" data-scale-under="960">
      <ul class="tms-slides">
        <li class="tms-slide" data-image data-force-fit data-overlay-bkg-color="#000000" data-overlay-bkg-opacity="0.3">
          <div class="tms-content">
            <div class="tms-content-inner center left-on-mobile v-align-middle">
              <div class="row">
                <div class="column width-12">
                  <h1 class="tms-caption title-large color-white lspacing-medium no-margin-bottom weight-bold" data-animate-in="opacity:0;scale:1.5px;duration:600ms;easing:easeFastSlow;"
                      data-no-scale>
                    <%= _("%{count} votes") % { count: number_with_delimiter(VoteCount.total) } %>
                  </h1>
                  <div class="clear"></div>
                  <h5 class="tms-caption color-white lspacing-medium mt-20"
                      data-animate-in="opacity:0;transY:50px;duration:600ms;delay:300ms;easing:easeFastSlow;" data-no-scale>
                    <%= _("More work must be done") %>
                  </h5>
                </div>
              </div>
            </div>
          </div>
          <img data-src="/images/frontpage-slides/slide-2.jpg" src="/images/blank.png" alt=""/>
        </li>
      </ul>
    </div>
  </section>
  <!-- Fullscreen Slider Section End -->

   <% if locale == :fi %>
  <!-- Feature Column Section -->
      <section>
        <div id="featured-trips" class="section-block replicable-content">
          <div class="row">
            <div class="column width-8 offset-2">
              <div class="feature-column small center">
                <div class="feature-text">
                  <h5 class="text-uppercase text-small weight-light">Seuraavat, eri aloja edustavat, merkittävät professorit ovat antaneet vetoomukselle kannatuksensa:
                  </h5>

                </div>
              </div>
            </div>

          </div>
          <div class="row">

            <div class="column width-4 offset-2">
              <div class="feature-column small center">
                <div class="feature-text">
                  <p class="mb-mobile-30">
                    Mikael Fortelius, evoluutiopaleontologia<br>
                    Pekka Kauppi, ympäristönsuojelu <br>
                    Anto Leikola, oppihistoria <br>
                    Pentti Murole, kaupunkisuunnittelu <br>
                    Heikki Palva, arabian kieli <br>
                    Juha Pentikäinen, pohjoinen etnografia <br></p>
                </div>
              </div>
            </div>

            <div class="column width-6">
              <div class="feature-column small center">
                <div class="feature-text">
                  <p class="mb-mobile-30">
                    Eero Saksela, lääketiede <br>
                    Jan Söderlund, arkkitehtuuri <br>
                    Peter Tigerstedt, kasvitiede <br>
                    Tuija Vihavainen, puutekniikka <br>
                    Reijo Vihko, lääketiede <br>
                    Yrjö Wiherheimo, teollinen muotoilu </p>
                </div>
              </div>
            </div>
          </div>
        </div>
  <!-- Feature Column Section end -->
  
  <!-- Feature Column Section -->
        <div id="featured-trips" class="section-block replicable-content">
          <div class="row">
            <div class="column width-8 offset-2">
              <div class="feature-column small center">
                <div class="feature-text">
                  <h5 class="text-uppercase text-small weight-light">Seuraavat suomalaiset kirjailijat ja suomentajat ovat antaneet vetoomukselle kannatuksensa:</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="column width-4 offset-2">
              <div class="feature-column small center">
                <div class="feature-text">
                  <p class="mb-mobile-30">
                    Maikki Harjanne, kirjailija<br/>
                    Arto Häilä, suomentaja<br/>
                    Timo Hännikäinen, kirjailija<br/>
                    Risto Isomäki, kirjailija<br/>
                    Tiina Krohn, kirjailija<br/>
                    Pentti Linkola, kirjailija<br/>
                </div>
              </div>
            </div>

            <div class="column width-6">
              <div class="feature-column small center">
                <div class="feature-text">
                  <p class="mb-mobile-30">
                    Harri Manner, kirjailija<br>
                    Hannu Mäkelä, kirjailija<br>
                    Kimmo Pietiläinen, suomentaja<br>
                    Mauno Saari, kirjailija<br>
                    Hannu Salama, kirjailija<br>
                    Kaari Utrio, kirjailija</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="featured-trips" class="section-block replicable-content">
          <div class="row">
            <div class="column width-8 offset-2">
              <div class="feature-column small center">
                <div class="feature-text">
                  <h5 class="text-uppercase text-small weight-light">Seuraavat merkittävät entiset kansanedustajat
                    ovat allekirjoittaneet vetoomuksen:</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="column width-4 offset-2">
              <div class="feature-column small center">
                <div class="feature-text">
                  <p class="mb-mobile-30">
                    Claes Andersson<br/>
                    Sirpa Asko-Seljavaara<br/>
                    Mikko Elo<br/>
                    Heidi Hautala<br/>
                    Timo Juurikkala<br/>
                    Risto Kuisma<br/>
                  </p>
                </div>
              </div>
            </div>

            <div class="column width-6">
              <div class="feature-column small center">
                <div class="feature-text">
                  <p class="mb-mobile-30">
                    Kalle Könkkölä<br/>
                    Markku Laukkanen<br/>
                    Outi Ojala<br/>
                    Kati Peltola<br/>
                    Pentti Tiusanen<br/>
                    Marjatta Vehkaoja<br/>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </section>

      <section>
        <div id="featured-trips" class="section-block replicable-content center">
          <div class="row">
            <%= link_to new_vote_path(locale: locale), { :class => "button xlarge bkg-black thick bkg-hover-white color-white color-hover-black text-uppercase mb-90", :data => { :no_turbolink => true }} do %>
                <span class="icon-add-user left"></span>
                <%= _("Support now") %>
            <% end %>
          </div>
        </div>
      </section>

<!-- Feature Column Section end -->
<% end %>

  <!-- Show country votes -->
  <section class="section-block feature-1" style="min-height: 200px">
    <div class="row no-padding-bottom">
      <table id="country_votes_table" class="table" style="table-layout: fixed; width: 100%">
        <% @sorted_votes.each do |vote_count| %>
            <tr>
              <td class="country_flag"><%= image_tag "blank.gif", :class => ["flag_small", vote_count.country] %></td>
              <td class="country"><%= Country.code_to_name(vote_count.country) %></td>
              <td class="vote_percentage">
                <div style="width:<%= vote_count.diagram_width %>%; height:30px; background:green"/>
              </td>
              <td class="vote_count"><%= number_with_delimiter(vote_count.count) %></td>
            </tr>
        <% end %>
      </table>
    </div>
  </section>

<!-- Content End -->

