<article>
<h1 class="page-header"><%= _("Background") %></h1>
<p class="lead">
  <%= _("We introduce this global campaign to support an initiative officially presented to the United Nations Secretariat by two professors, professor U.B. Lindström and professor Eero Paloheimo.") %>
</p>

<h2> <%= _("State of the global environment - point of no return") %> </h2>

<p>
  <%= _("The main concern of this campaign is the fact that the state of the global environment is radically deteriorating. Harmful developments have accelerated and we are approaching a point of no return.") %>
</p>

<h2><%= _("New global role for the Military") %> </h2>

<p>
  <%= _("It is the accepted practice all round the globe that the military is called in to assist those areas affected by sudden and unexpected environmental disasters.") %>
</p>

<p>
  <%= _("It would simply be a logical extension of these actions to employ such a resource in counteracting the effects of large-scale and inexorably-advancing catastrophes.") %>
</p>

<h2 class="jumbotron"> <%= _("We demand the United Nations to instigate a global initiative for a redeployment of the world’s armed forces into the new environmental task as soon as possible.") %> </h2>
</article>

<article>
<h1 class="page-header"><%= _("Sign now!") %></h1>
<p class="lead"><%= _("STOP DISASTER – NOW!") %></p>
<p>
  <%= _("The global environmental catastrophe is emerging and the process is accelerating.") %>
</p>
<p>
  <%= _("We are in a hurry. Radical actions are urgently needed to save our planet.") %>
</p>
<h2 class="jumbotron">
  <%= _("There is a hidden potential at hand: the national armies. We have to give the armies a new, positive task. In these pages we collect support to a global initiative.") %>
</h2>
</article>

<%= render partial: "new_form" %>
