<% content_for :middle do %>
  <% if false %>
  <div class="download">
    <div class="container ua-middle-appeal">
      <div class="col-md-5 download-left">
        <h2 class="page-header"><%= _("Helsinki, 4.11.2014") %></h2>
        <p class="lead">
          <%= _("To the Secretary-General and Secretariat of the United Nations") %>
        </p>
        <p>
          <%= _("We the undersigned addressees turn to you because of our concern at the state of the global environment. In many parts of the world the deterioration of the environment can be linked directly to social problems among the local population.") %>
        </p>       
      </div>
      <div class="col-md-7 download-right">
	<p><%= link_to image_tag("appeal.jpg"), appeal_path(locale: locale), target: "_blank"  %></p>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
  <% end %>

  <!-----start-Share instantly----->
  <div id="share" class="Share-instantly">
    <div class="container">
      <div class="col-md-5 Share-instantly-left">
        <span> </span>
      </div>
      <div class="col-md-7 Share-instantly-right">
        <p class="head-para">
          <%# _("It is logical to extend the local military Saving Actions to Global Saving Actions effecting the slowly but inexorably advancing Catastrophes.") %>
          <%= _("It is logical to extend the actions from sudden disasters to large scale catastrophes.") %>
        </p>
        <br/>
        <p>
          <!----- start-Share-instantly-slider---->
          <!-- Prettify -->
          <script>
	    $(document).ready(function() {
	    $("#owl-demo , #owl-demo1").owlCarousel({
	    items : 1,
	    lazyLoad : true,
	    autoPlay : true,
	    });
	    });
          </script>
          <script>
	    $(document).ready(function() {
	    $("#owl-demo3").owlCarousel({
	    items : 4,
	    lazyLoad : true,
	    autoPlay : true,
	    navigation: false,
	    pagination: false,
	    });
	    });
          </script>
          <!----- //End-Share-instantly-slider---->
          <!-- start content_slider -->
          <div class="slider">
	    <div id="da-slider" class="da-slider">
	      <div class="da-slide">
	        <div class="da-img">
                  <%= image_tag "share-slide-pic.png", class: "img-responsive", alt: " " %>
                </div>
	        <div class="slide-text">
	          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
	        </div>
	        <div class="clear"></div>
	      </div>
	      <div class="da-slide">
	        <div class="da-img">
                  <%= image_tag "share-slide-pic.png", class: "img-responsive", alt: " " %>
                </div>
	        <div class="slide-text">
	          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
	        </div>
	        <div class="clear"></div>
	      </div>
	      <div class="da-slide">
	        <div class="da-img">
                  <%= image_tag "share-slide-pic.png", class: "img-responsive", alt: " " %> 
                </div>
	        <div class="slide-text">
	          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
	        </div>
	        <div class="clear"></div>
	      </div>
	    </div>
          </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
  <div class="clearfix"> </div>
  <!-----//End-Share instantly----->
<% end %>

<% content_for :grid do %>
<!-----start-features----->
<div id="over" class="features text-center">
  <div class="container">
    <h2><%= _("Background") %></h2>
    <!---- start-features-grids------>
    <div class="features-grids text-center">
      <div class="col-md-4 features-grid">
	<span> </span>
	<h3><%= _("Campaign") %></h3>
	<p><%= _("We introduce this campaign to support an initiative presented to the United Nations Secretariat by two professors: U.B. Lindström and Eero Paloheimo.") %></p>
        <br/>
      </div>
      <div class="col-md-4 features-grid">
	<span class="t-icon1"> </span>
	<h3><%= _("State of the global environment") %></h3>
	<p><%= _("The concern of this campaign is that the global environment is radically deteriorating.
Dangerous developments have accelerated and approach the point of no return.") %></p>
        <br/>
      </div>
      <div class="col-md-4 features-grid">
	<span class="t-icon2"> </span>
	<h3><%= _("New global role for the Military") %></h3>
	<p><%= _("It is accepted that the military are called to assist the areas affected by sudden disasters. 
The same power should be used to defend us against gradual disasters.") %></p>
        <br/>
      </div>
      <div class="clearfix"> </div>
    </div>
    <!---- //End-features-grids------>
  </div>
</div>
<!-----//End-features----->
<% end %>

<% content_for :gallery do %>
  <!----- start-gallery----->
  <div id="gall" class="gallery">
    <div class="container">
      <h3>Each of us must learn to work for the benefit of all mankind. Universal responsibility is the real key to human survival. </h3>     
    </div>
    <div id="owl-demo3" class="owl-carousel owl-carousel2">
      <div class="item">
        <%= image_tag "g1.jpg", class: "lazyOwl", alt: "" %>
	<p class="img_slider">
          <span class="g-title"><%= _("New future") %></span> 
          <a class="likes" href="#"><i class="fa fa-heart"> </i></a></p>
      </div>
      <div class="item">
        <%= image_tag "g3.jpg", class: "lazyOwl", alt: "" %>
	<p class="img_slider">
          <span class="g-title"><%= _("Richness of cultures") %></span> 
          <a class="likes" href="#"><i class="fa fa-heart"> </i></a></p>
      </div>
      <div class="item">
        <%= image_tag "g2.jpg", class: "lazyOwl", alt: "" %>
	<p class="img_slider">
          <span class="g-title"><%= _("Happy mankind") %></span> 
          <a class="likes" href="#"><i class="fa fa-heart"> </i></a></p>
      </div>
      <div class="item">
        <%= image_tag "g4.jpg", class: "lazyOwl", alt: "" %>
	<p class="img_slider">
          <span class="g-title"><%= _("Biodiversity") %></span> 
          <a class="likes" href="#"><i class="fa fa-heart"> </i></a></p>
      </div>
      <div class="item">
        <%= image_tag "g5.jpg", class: "lazyOwl", alt: "" %>
	<p class="img_slider">
          <span class="g-title"><%= _("Global responsibility") %></span> 
          <a class="likes" href="#"><i class="fa fa-heart"> </i></a></p>
      </div>
      <div class="item">
        <%= image_tag "g6.jpg", class: "lazyOwl", alt: "" %>
	<p class="img_slider">
          <span class="g-title"><%= _("Food for all") %></span> 
          <a class="likes" href="#"><i class="fa fa-heart"> </i></a></p>
      </div>
      <div class="item">
        <%= image_tag "g7.jpg", class: "lazyOwl", alt: "" %>
	<p class="img_slider">
          <span class="g-title"><%= _("New technology") %></span> 
          <a class="likes" href="#"><i class="fa fa-heart"> </i></a></p>
	<div class="clearfix"> </div>
      </div>
      <div class="item">
        <%= image_tag "g8.jpg", class: "lazyOwl", alt: "" %>
	<p class="img_slider">
          <span class="g-title"><%= _("Reforestation") %></span> 
          <a class="likes" href="#"><i class="fa fa-heart"> </i></a>
        </p>
	<div class="clearfix"> </div>
      </div>
      <div class="clearfix"> </div>
      
    </div>
  </div>
  <!----- //End-gallery----->

<% end %>

<% content_for :appeal do %>
  <article class="container">
    <h1 class="page-header"><%= _("Initiative presented to the United Nations:") %></h1>
    <div class="row">
    <p class="lead col-md-8 text-left">
      <%= _("To the Secretary-General and Secretariat of the United Nations") %>
    </p>
    <p class="lead col-md-4 text-right">
      <%= _("Helsinki, 4.11.2014") %>
    </p>
    </div>
    <p>
      <%= _("We the undersigned addressees turn to you because of our concern at the state of the global environment. In many parts of the world the deterioration of the environment can be linked directly to social problems among the local population.") %>
    </p>

    <p>
      <%= _("Such harmful developments have accelerated and often aggravated one another. It is to be feared that this process may reach unnoticed a ‘point of no return’, after which it can no longer be reversed, or even arrested, by human intervention.") %>
    </p>

    <p>
      <%= _("In the next few decades only strong and effective countermeasures will be able to halt the advance of this process. We propose for your consideration the idea that global spending on armaments should be re-directed (along with other measures) to address social and environmental deterioration in a more focused manner than at present.") %>
    </p>

    <p>
      <%= _("We propose action on projects requiring large-scale resources, both of manpower and equipment; these would include agro-forestry projects, forest, plant and animal relocations in the wake of global warming. Such projects would assist in averting the worst catastrophes; they would also aid and foster ecological and social stability, and employment at the local level, assuming the use of local labor.") %>
    </p>

    <p>
      <%= _("Total global spending on armaments is estimated at $1500 billion annually; such spending can be put into perspective by setting it alongside the estimated cost of the afforestation of the entire Sahara Desert, which would amount to about one-sixth of annual global armaments spending. This example neatly illustrates the extent of the potential needed for action in this matter, should the political will be found.") %>
    </p>

    <p>
      <%= _("On a political level, it is the accepted practice everywhere that the military is called in to assist those affected by sudden and unexpected environmental disasters. It would simply be a logical extension of this practice to employ such a resource in counteracting the effects of more gradual but much larger-scale and inexorably-advancing catastrophes; this with the help, it is to be hoped, of local NGOs.") %>
    </p>

    <p>
      <%= _("We earnestly hope that the United Nations will consider instigating a global initiative to put the proposals outlined above into effect and for a redeployment of the world’s armed forces into this new task as soon as possible. Such an initiative would also have 
a tangible effect in promoting world peace.") %>
    </p>

    <br/>
    <br/>
    <br/>

    <div class="row">
      <div class="col-md-4">
        <iframe src="https://player.vimeo.com/video/141501775" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <div class="col-md-4">
        <iframe src="https://player.vimeo.com/video/141501786" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <a href="https://vimeo.com/141501775" target="_blank">U.B. Lindstr&ouml;m</a>, <%= _("professor") %>
      </div>
      <div class="col-md-4">
        <a href="https://vimeo.com/141501786" target="_blank">Eero Paloheimo</a>, <%= _("professor") %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <%= _("e-mail") %>: <a href="mailto:ulf.lindstrom@kolumbus.fi">ulf.lindstrom@kolumbus.fi</a>
        <br/>
        <br/>
        <p><i><%= _("\"Time is running out while we are destroying the planets resources. This must be changed and it can be changed. You can participate. Take action today.\"") %></i></p>
      </div>
      <div class="col-md-4">
        <%= _("e-mail") %>: <a href="mailto:ekpaloheimo@hotmail.com">ekpaloheimo@hotmail.com</a>
        <br/>
        <br/>
        <p><i><%= _("\"We are in a hurry. We don’t have time for centuries, we have only decades. That is why effective and quick actions are necessary. The armies are the only possibility.\"") %></i></p>
      </div>
    </div>
  </article>
<% end %>

<% content_for :form do %>
  <!-----start-download---->
  <div id="down" class="download">
    <div class="container">
      <div class="col-md-1 download-left">
        <%# link_to image_tag("make-change.png"), "#" %>
      </div>
      <div class="col-md-10 download-right">
	<p>
          <%= _("Sign now!") %>
          <br />
          <%= _("STOP DISASTER – NOW!") %>
          <br /> 
          <%# _("The global environmental catastrophe is emerging and the process is accelerating.") %></p>
	<p><%= _("Radical actions are urgently needed to save our planet.") %></p>
	  <ul class="list-unstyled list-inline">
	  <!-- <li><a class="facebook-icon" href="#"><span> </span></a></li>
	  <li><a class="youtube-icon" href="https://www.youtube.com/watch?v=UuJHJBnSZ3w" target="_blank"><span> </span></a></li> -->
	</ul>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
  <!-----//End-download---->
<% end %>

<div class="ua-vote-container">
  <div class="ua-vote-form">  
    <%= render partial: "new_form" %>
  </div>
</div>
