<article>
  <h1 class="page-header"><%= _("This is your private vote!") %></h1>
  <p class="lead"><%= _("Do not share this direct link with anybody. Instead, you can use a form below to share a public version of this vote with your friends.") %> </p>
  <p>
    <%= _("Thank you for your support %{name}!") % {name: @vote.name} %>
    <%= _("Your supporter number is %{count}.") % {count: @vote.order_number} %>
    <%= _("We still miss %{count} of the 100.000.000.") % {count: @vote.votes_missed} %>
  </p>
  <p>
    <%= _("You have helped campaign by having %{count} people signed after you.") % {count: @votes_count} %>
  </p>
  <p>
    <%= _("You have added %{count} comments.") % {count: @vote.comments.size} %>
  </p>
  <p class="lead">
    <%= _("Signatures! Let’s work further!") %>
  </p>
</article>

<article>
  <fieldset>
    <legend><%= _("Add a comment") %></legend>
    <p>
      <%= _("You can now add a comment.") %>
    </p>
    <%= button_tag(_("Comment"), class: "btn btn-lg btn-primary", onClick: "window.location='#{new_comment_path}'") %>
  </fieldset>
</article>

<article>
  <fieldset>
    <legend><%= _("Share with social media") %></legend>
    <p>
      <%= social_share_button_tag("Save the Planet - Unite the Armies", url: add_parent_vote_url(t: @vote.md5_secret_token)) %>
    </p>
  </fieldset>
</article>

<article>
  <fieldset>
    <legend><%= _("Share with email") %></legend>
    <p><%= _("Invite your friends. Fill out a form below and information will be sent to given email") %></p> 
    <%= render partial: "share_vote" %>
  </fieldset>
</article>

