<article>
  <h1 class="page-header"><%= _("This is your private vote!") %></h1>
  <p class="lead"><%= _("Do not share this direct link to anybody. Instead, you can use a form below to share a public version of this vote to your friends.") %> </p>
  <p>
    <%= _("Thank you for your support #{@vote.name}!") %>
    <%= _("You are supporter number #{@vote.order_number}.") %>
    <%= _("We still miss #{@vote.votes_missed} of the 100.000.000") %>
    <%= _("Signatures! Let’s work further!") %>
  </p>
</article>

<article>
  <p class="lead"><%= _("Add a comment") %></p>
  <p>
    <%= _("You can now add a comment and start discussing") %>
  </p>
  <%= button_tag(_("Comment"), class: "btn btn-lg btn-primary", onClick: "window.location='#{new_comment_path}'") %>
</article>

<article>
  <p class="lead"><%= _("Share your vote!") %></p>
  <p><%= _("Invite a friend. Fill out a form below and information will be send to given email") %></p> 
  <%= render partial: "share_vote" %>
</article>

