<!DOCTYPE html>
<html>
  <head>
    <%= render partial: "header" %>
    <meta property="og:url"           content="http://unite-the-armies.org" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Save the Planet - Unite the Armies" />
    <meta property="og:description"   content="STOP DISASTER – NOW! Radical actions are urgently needed to save our planet." />
    <meta property="og:image"         content="http://0.0.0.0:3000/assets/g7-7f955c0cca4e8cd3438f78693948cddb.jpg" />

  </head>
  <body>
    <!-----start-top-header----->
    <div id="hello" class="top-header">
      <!-- Slideshow 4 -->
      <div  id="top" class="callbacks_container">
	<ul class="rslides" id="slider4">
	  <li>
	    <%= image_tag "slide01.jpg" %>
	    <div class="caption">
	      <div class="slide-text-info">
		<h1><%= _("Air pollution is a global Challenge!") %></h1>
	      </div>
	    </div>
            <div class="caption-link-container">
              <%# link_to image_tag("yellow-arrow-right-150px.png"), "#links", :class => "caption-link" %>
            </div>
	  </li>
	  <li>
	    <%= image_tag "slide02.jpg" %>
	    <div class="caption">
	      <div class="slide-text-info">
		<h1 class="grey"><%= _("Water is the Mother of Life – we all need it!") %></h1>
	      </div>
	    </div>
            <div class="caption-link-container">
              <%# link_to image_tag("yellow-arrow-right-150px.png"), "#links", :class => "caption-link" %>
            </div>
	  </li>
	  <li>
	    <%= image_tag "slide03.jpg" %>
	    <div class="caption">
	      <div class="slide-text-info">
		<h1 class="grey"><%= _("Millions Tons of Plastic Waste on the Shores and Oceans!") %></h1>
	      </div>
	    </div>
            <div class="caption-link-container">
              <%# link_to image_tag("yellow-arrow-right-150px.png"), "#links", :class => "caption-link" %>
            </div>
	  </li>
	  <li>
	    <%= image_tag "slide04.jpg" %>
	    <div class="caption">
	      <div class="slide-text-info">
		<h1 class="red"><%= _("We must defend Life's Richness on our Planet!") %></h1>
	      </div>
	    </div>
            <div class="caption-link-container">
              <%# link_to image_tag("yellow-arrow-right-150px.png"), "#links", :class => "caption-link" %>
            </div>
	  </li>
	  <li>
	    <%= image_tag "slide05.jpg" %>
	    <div class="caption">
	      <div class="slide-text-info">
		<h1><%= _("Unite the Armies to Save Life – not to Kill!") %></h1>
	      </div>
	    </div>
            <div class="caption-link-container">
              <%= link_to image_tag("yellow-arrow-right-150px.png"), "#links", :class => "caption-link" %>
            </div>
	  </li>
	</ul>
      </div>
      <div class="clear"> </div>
      <!---- //End-slider----->
    </div>

    <!-----start-header---->
    <div class="header">
      <div>
	<div class="logo">
	  <a href="#"></a>
	</div>
	<!----start-top-nav---->
	<%= render partial: "top_nav" %>
	<div class="clear"> </div>
      </div>
      <!-----//End-header---->
    </div>
    
    <div class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-collapse">
          <ul class="nav navbar-nav">
            <a name="links"></a>
            <li><%= link_to _("Video"), video_path(locale: locale) %></li>
            <li><%= link_to _("Sign"), new_vote_path(locale: locale, anchor: :sign) %></li>
            <li><%= link_to _("Statistics"), votes_path(locale: locale) %></li>
            <li><%= link_to _("Appeal"), "/#{locale}/appeal" %></li>
          </ul>
        </div>
      </div>
    </div>
    
    <%= flash_messages %>
    
    <div class="unobtrusive-flash-container"></div>

    <%= yield :middle %>

    <div>
      <div class="container sd-main">
        <%= yield :grid %>
      </div>
    </div>    

    <%= yield :appeal %>
    
    <%= yield :form %>

    <div>
      <div class="container sd-main">
        <%= yield %>
      </div>
    </div>
    
   
    <%= yield :gallery %>
    
    <%= render :partial => "footer" %>
  </body>
</html>
