<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Save the Planet - Unite the Armies" />
    <meta property="og:description"   content="STOP DISASTER – NOW! Radical actions are urgently needed to save our planet." />
    <meta property="og:image"         content="<%= image_url("ua-banner.jpg") %>" />

    <title><%= _("Save the Planet - Unite the Armies!") %></title>

    <script>
      var recently_added_votes_path = '<%= recently_added_votes_path(format: :json, locale: locale) %>'
    </script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <script src="/bootstrap/js/bootstrap.min.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-10604388-4', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <div>
      <%= yield %>
    </div>
  </body>
</html>
