<!DOCTYPE html>
<html>
  <head>
    <%= render partial: "header" %>
  </head> 
  <body>
    <div class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to _("Video"), video_path(locale: locale) %></li>
            <li><%= link_to _("Sign"), new_vote_path(locale: locale, anchor: :sign) %></li>
            <li><%= link_to _("Statistics"), votes_path(locale: locale) %></li>
            <li><%# link_to _("Appeal"), "/#{locale}/appeal" %></li>
          </ul>
        </div>
      </div>
    </div>   
    <%= flash_messages %>
    <div class="unobtrusive-flash-container"></div>

    <div>
      <div class="container ua-main">
        <%= yield :grid %>
      </div>
    </div>

    <%= yield :middle %>

    <div>
      <div class="container ua-main">
        <%= yield %>
      </div>
    </div>

    <%= yield :form %>
    <%= yield :gallery %>

    <%= render :partial => "footer" %>

  </body>
</html>
